/***************** P A G E S | C O M P O N E T S | E V E R Y T H I N G *****************/

body {
    background-color: #202020;
    color: #fff;
}

/*********************************** H O M E . J S X ***********************************/

.under-construction>ul {
    width: 30%;
    margin: auto;
}

.under-construction>ul>li {
    /* font-size: 3em;
    padding-top: 80px; */
    list-style-type: "🕹️";
    text-align: left;
    font-size: 2em;
}

.under-construction>ul>li>a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 885px) {
    .under-construction>ul {
        width: 40%;
    }
}

@media (max-width: 680px) {
    .under-construction>ul {
        width: 50%;
    }

    .under-construction>ul>li {
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .under-construction>ul>li {
        font-size: 1em;
    }
}

/************************************** P A G E S **************************************/
/********************************** A L L | P A G E S **********************************/

/* Pacman font from google fonts */
.pacman-font {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}

.universal-border {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #202020;
    box-shadow: rgba(255, 255, 0, 0.25) 0px 50px 100px -20px,
        rgba(255, 255, 0, 0.3) 0px 30px 60px -30px,
        rgba(255, 255, 0, 0.35) 0px -2px 6px 0px inset;
    text-transform: uppercase;
}

/********************************** M A I N | M E N U **********************************/

.main-menu-button {
    box-sizing: border-box;
    border: 6px solid #1919A6;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    margin: 20px;
    margin: 20px auto;
    padding: 7px;
    width: 50%;
    display: block;
    color: #fff;
    background-color: black;
    cursor: pointer;
    transition: 1s ease-out;
}

/* Hover effect */
.main-menu-button:hover {
    transform: scale(1.5);
    transition-duration: 1s ease-out;
}

.pacman-font>h1,
.pacman-font>button {
    color: #fff;
}

/* 'a' element is detected instead of 'Link' element */
.universal-border>a {
    text-decoration: none;
}

@media (max-width: 900px) {
    body {
        min-height: 100vh;
        background-size: cover;
    }

    .pacman-font>h1 {
        font-size: 1.3em;
    }

    .main-menu-button {
        font-size: 1em;
        border-width: 3px;
        width: 70%;
    }

    .main-menu-button:hover {
        transform: scale(1.3);
    }
}

@media (max-width: 600px) {
    .main-menu-button {
        width: 80%;
        margin: 10px auto;
    }

    .universal-button:hover {
        transform: scale(1.2);
    }
}

/******************************* L O G I N | S C R E E N *******************************/

.inputField {
    display: flex;
    text-align: center;
    margin: 10px;
    justify-content: center;
}

.submit-form {
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 575px) {
    .inputField {
        flex-direction: column;
    }

    .inputField>input {
        width: 280px;
        margin: auto;
    }
}