/***************** P A G E S | C O M P O N E T S | E V E R Y T H I N G *****************/

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;

    /* This might be messing up phone responsivness */
    min-width: 320px;

    min-height: 100vh;
    background-color: #202020;
    color: #fff;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

* {
    border: none;
}

/*********************************** H O M E . J S X ***********************************/

.under-construction>ul {
    width: 30%;
    margin: auto;
}

.under-construction>ul>li {
    /* font-size: 3em;
    padding-top: 80px; */
    list-style-type: "🕹️";
    text-align: left;
    font-size: 2em;
}

.under-construction>ul>li>a {
    color: #fff;
    text-decoration: none;
}

/* github logo */
#github-logo {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 30%;
    transition: ease-in-out 0.5s;
}

#github-logo:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out 0.5s;
}

@media (max-width: 885px) {
    .under-construction>ul {
        width: 40%;
    }
}

@media (max-width: 680px) {
    .under-construction>ul {
        width: 50%;
    }

    .under-construction>ul>li {
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .under-construction>ul>li {
        font-size: 1em;
    }
}

/************************************** P A G E S **************************************/
/********************************** A L L | P A G E S **********************************/

/* Pacman font from google fonts */
.pacman-font {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}

.universal-border {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #202020;
    box-shadow: rgba(255, 255, 0, 0.25) 0px 50px 100px -20px,
        rgba(255, 255, 0, 0.3) 0px 30px 60px -30px,
        rgba(255, 255, 0, 0.35) 0px -2px 6px 0px inset;
    text-transform: uppercase;
}

/********************************** M A I N | M E N U **********************************/

.main-menu-button {
    box-sizing: border-box;
    border: 6px solid #1919A6;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    margin: 20px;
    margin: 20px auto;
    padding: 7px;
    width: 50%;
    display: block;
    color: #fff;
    background-color: black;
    cursor: pointer;
    transition: 1s ease-out;
}

/* Hover effect */
.main-menu-button:hover {
    transform: scale(1.5);
    transition-duration: 1s ease-out;
}

.pacman-font>h1,
.pacman-font>button {
    color: #fff;
}

/* 'a' element is detected instead of 'Link' element */
.universal-border>a {
    text-decoration: none;
}

@media (max-width: 900px) {
    body {
        min-height: 100vh;
        background-size: cover;
    }

    .pacman-font>h1 {
        font-size: 1.3em;
    }

    .main-menu-button {
        font-size: 1em;
        border-width: 3px;
        width: 70%;
    }

    .main-menu-button:hover {
        transform: scale(1.3);
    }
}

@media (max-width: 600px) {
    .main-menu-button {
        width: 80%;
        margin: 10px auto;
    }

    .universal-button:hover {
        transform: scale(1.2);
    }
}

/******************************* L O G I N | S C R E E N *******************************/

.inputField {
    display: flex;
    text-align: center;
    margin: 10px;
    justify-content: center;
}

.submit-form {
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 575px) {
    .inputField {
        flex-direction: column;
    }

    .inputField>input {
        width: 280px;
        margin: auto;
    }
}

/********************************* C A N V A S . J S X *********************************/
/********************************* C A N V A S . J S X *********************************/

#timer {
    border: 1px solid black;
    height: 50px;
    margin-top: none;
}

#myCanvas {
    margin: 0 auto;
    /* display: block;
    overflow: hidden; */
    overflow: hidden;
}

body:has(canvas) {
    overflow: hidden;
}

body:not(:has(canvas)) {
    overflow: auto;
}

canvas {
    margin: 0;
    padding: 0;
}

body:has(canvas) {
    overflow: hidden;
}

body:not(:has(canvas)) {
    overflow: auto;
}

.d-pad {
    /* padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center; */
    visibility: hidden;
    border: red solid 1px;
}

.d-pad-button {
    background-color: #fefefe;
    /* padding: 20px; */
}

.d-pad {
    position: relative;
    width: 150px;
    height: 150px;
}

.d-pad-button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#move-up {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#move-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#move-down {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#move-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

@media screen and (max-width: 750px) {
    * {
        margin: 0;
        padding: 0;
    }

    #root {
        margin: 0;
        padding: 0;
    }

    #myCanvas {
        display: flex;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .d-pad {
        visibility: visible;
    }
}
/* ***************************** C L O C K ******************************** */

/* ***************************** S C O R E ******************************** */