img {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 30%;
    transition: ease-in-out 0.5s;
}

img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out 0.5s;
}